Latex/build/main.aux
Latex/build/main.bbl
Latex/build/main.bcf
Latex/build/main.blg
Latex/build/main.fdb_latexmk
Latex/build/main.fls
Latex/build/main.synctex.gz
Latex/build/main.xdv
Latex/build/main.lof
Latex/build/main.idx
Latex/build/main.ilg
Latex/build/main.ind
Latex/build/main.log
Latex/build/main.out
Latex/build/main.run.xml
Latex/build/main.toc

Latex/main.aux
Latex/main.bbl
Latex/main.bcf
Latex/main.blg
Latex/main.lof
Latex/main.idx
Latex/main.ilg
Latex/main.ind
Latex/main.log
Latex/main.out
Latex/main.run.xml
Latex/main.toc